<header id="app-header">
  <div class="app-film--product">
      <div class="app-header_title">类型
        <i></i>
      </div>
      <div class="app-header_title">地点
        <i></i>
      </div>
      <div class="app-header_title">日薪
        <i></i>
      </div>
      <div class="app-header_title">学历
        <i></i>
      </div>
  </div>
  
  <div class="app-film--more clicka">
    <i>......</i>
  </div>
  
</header>
<header id="app-header">
    <div class="app-film--product">
        <div class="app-header_title">每周实习天数
          <i></i>
        </div>
        <div class="app-header_title">实习月数
          <i></i>
        </div>
    </div>
    
    <div class="app-film--more clickb">
      <i>......</i>
    </div>
    
  </header>
